[mysqld]
default-storage-engine=INNODB

# 以下是mysql 8.0的配置
# character-set-server=utf8
# collation-server=utf8_unicode_ci

# 以下是mysql 9及以上的配置
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

init_connect='SET NAMES utf8'

[client]
# 以下是mysql 8.0的配置
# default-character-set=utf8

# 以下是mysql 9及以上的配置
default-character-set=utf8mb4

[mysql]
default-character-set=utf8
